version: '3.8'

services:
  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    container_name: mysql
    tty: true
    ports: 
      - 3306:3306
    networks:
      - techies-guild
  redis:
    build:
      context: ./redis
      dockerfile: Dockerfile
    container_name: redis
    tty: true
    ports:
      - 6379:6379
    networks:
      - techies-guild
  api_server:
    build:
      context: ./api_server
      dockerfile: Dockerfile
    volumes:
      - ./api_server:/var/www/html/app/tech_project_app/api_server
    container_name: api_server
    stdin_open: true
    tty: true
    ports:
      - 3001:3001
    depends_on:
      - mysql
      - redis
    networks:
      - techies-guild
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - ./client:/var/www/html/app/tech_project_app/client
      - /var/www/html/app/tech_project_app/client/node_modules
    container_name: client
    tty: true
    ports:
      - 3000:3000
    networks:
      - techies-guild
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    container_name: nginx
    tty: true
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    depends_on:
      - api_server
      - client
    networks:
      - techies-guild
networks:
  techies-guild:
    driver: bridge