version: '3.5'

services:
  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    volumes:
      - .:/workspace:cached
      - ~/.ssh:/root/.ssh
      - ~/.gitconfig:/root/.gitconfig
    container_name: mysql
    tty: true
    ports: 
      - 3306:3306
    networks:
      - techies-guild
  redis:
    build:
      context: ./redis
      dockerfile: Dockerfile
    volumes:
      - .:/workspace:cached
      - ~/.ssh:/root/.ssh
      - ~/.gitconfig:/root/.gitconfig
    container_name: redis
    tty: true
    ports:
      - 6379:6379
    networks:
      - techies-guild
  api_server:
    build:
      context: ./api_server
      dockerfile: Dockerfile
    volumes:
      - .:/workspace:cached
      - ~/.ssh:/root/.ssh
      - ~/.gitconfig:/root/.gitconfig
    container_name: api_server
    tty: true
    ports:
      - 3001:3001
    depends_on:
      - mysql
      - redis
    networks:
      - techies-guild
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - .:/workspace:cached
      - ~/.ssh:/root/.ssh
      - ~/.gitconfig:/root/.gitconfig
    container_name: client
    tty: true
    ports:
      - 3000:3000
    networks:
      - techies-guild
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - .:/workspace:cached
      - ~/.ssh:/root/.ssh
      - ~/.gitconfig:/root/.gitconfig
    container_name: nginx
    tty: true
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    depends_on:
      - api_server
      - client
    networks:
      - techies-guild
networks:
  techies-guild:
    driver: bridge