@charset 'UTF-8';
@use './module/responsive' as responsive;

nav {
  .nav-bar {
    width: 100%;
    height: 50px;
    background-color: #F2AF01;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .main-logo {

    }
    .hamburger {
      margin-right: 10px;
    }
  }
  .nav-menu-container {
    width: 100%;
    height: 100px;
    padding: 0;
    background-color: rgba(242, 175, 1, 0.4);
    li {
      a {
        display: block;
        width: 100%;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #333;
        &:hover {
          background-color: rgba(242, 175, 1, 0.6);
        }
      }
    }
  }
}