@charset 'UTF-8';
@use './module/responsive' as responsive;

nav {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  .nav-bar {
    width: 100%;
    height: 55px;
    background-color: #F2AF01;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .main-logo {

    }
    .hamburger-box {
      width: 45px;
      height: 40px;
      margin-right: 15px;
      border: 1px solid #333;
      border-radius: 5px;
      background-color: #F2AF01;
      outline: none;
      .hamburger-bars {
        color: #333;
        font-size: 30px;
      }
    }
    .hamburger-box:active {
      background-color: #333;
      .hamburger-bars {
        color: #f0f0f0;
      }
    }
  }
  .nav-menu-container {
    position: absolute;
    width: 100%;
    height: 1000px;
    padding: 0;
    background-color: rgba(51, 51, 51, 0.65);
    li {
      a {
        display: block;
        width: 100%;
        height: 55px;
        background-color: rgba(242, 175, 1, 0.4);
        border-bottom: solid 1px #f0f0f0;
        text-align: center;
        line-height: 50px;
        font-size: 18px;
        color: #f0f0f0;
        &:hover {
          background-color: rgba(242, 175, 1, 0.6);
        }
      }
    }
  }
}