@charset 'UTF-8';
@use './module/responsive' as responsive;

.project {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .pjt-title {
    width: 90%;
    height: auto;
    display: block;
    text-align: left;
    margin: 30px auto 20px;
    font-size: 16px;
  }
  .pjt-summary-title {
    display: block;
    width: 90%;
    height: 35px;
    background-color: #F2AF01;
    margin: 0 auto;
    padding-left: 10px;
    border-radius: 5px;
    text-align: left;
    line-height: 35px;
    color: #f0f0f0;
    font-size: 14px;
  }
  .pjt-summary-table {
    width: 92%;
    height: auto;
    margin: 20px auto;
    padding: 10px 5px;
    border: solid 1px #E2743A;
    border-radius: 5px;
    .pjt-summary-tr {
      text-align: left;
      font-size: 14px;
      .pjt-summary-th {
        width: 30%;
      }
      .pjt-summary-td {
        width: 70%;
      }
    }
    .pjt-tags-tr {
      .pjt-tags-td {
        width: 95%;
        height: auto;
        margin: 0 auto;
        padding: 5px 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        .pjt-tag {
          height: 20px;
          margin: 5px;
          padding: 5px;
          background-color: #F2AF01;
          border-radius: 5px;
          color: #f0f0f0;
          font-size: 14px;
        }
      }
    }
  }
  .pjt-detail-container {
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding: 10px 0;
    background-color: #f0f0f0;
    .pjt-detail-li {
      width: 95%;
      height: auto;
      margin: 0 auto;
      .pjt-detail-title {
        display: block;
        height: 35px;
        background-color: #F2AF01;
        margin: 20px auto 0;
        padding-left: 10px;
        border-radius: 5px;
        text-align: left;
        line-height: 35px;
        color: #f0f0f0;
        font-size: 14px;
      }
      .pjt-detail-value-box {
        margin: 0 auto 20px;
        padding: 10px;
        border-radius: 5px;
        .pjt-detail-value {
          white-space: pre-wrap;
          line-height: 25px;
          font-size: 14px;
        }
      }
    }
  }
  .affiliate-link-btn {
    display: block;
    width: 70%;
    height: 40px;
    background-color: #E2743A;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color: #f0f0f0;
    font-size: 14px;
    font-weight: bold;
    &:hover {
      background-color: #F2AF01;
    }
  }
}