@charset 'UTF-8';
@use './module/responsive' as responsive;

.project {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .pjt-title {
    width: 90%;
    height: auto;
    display: block;
    text-align: left;
    margin: 20px auto;
    font-size: 20px;
  }
  .pjt-summary-title {
    display: block;
    width: 95%;
    height: 45px;
    background-color: #F2AF01;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    color: #f0f0f0;
    font-size: 18px;
  }
  .pjt-summary-table {
    width: 95%;
    height: auto;
    margin: 20px auto;
    padding: 10px 5px;
    border: solid 1px #E2743A;
    border-radius: 5px;
    tr {
      text-align: left;
    }
  }
  .pjt-detail-container {
    width: 95%;
    height: auto;
    margin: 20px auto;
    padding: 10px 5px;
    .pjt-detail-li {
      width: 100%;
      .pjt-detail-title {
        display: block;
        height: 45px;
        background-color: #F2AF01;
        margin: 20px auto;
        border-radius: 5px;
        text-align: center;
        line-height: 45px;
        color: #f0f0f0;
        font-size: 16px;
      }
      .pjt-detail-value-box {
        margin: 20px auto;
        padding: 10px;
        border: solid 1px #E2743A;
        border-radius: 5px;
      }
    }
  }
  .affiliate-link-btn {
    display: block;
    width: 80%;
    height: 40px;
    background-color: #E2743A;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color: #f0f0f0;
    &:hover {
      background-color: #F2AF01;
    }
  }
}