@charset 'UTF-8';
@use './module/responsive' as responsive;

.search-box {
  width: 100%;
  height: auto;
  h2 {
    margin: 30px 0 20px;
    text-align: center;
    font-size: 22px;
  }
  .search-form {
    .search-tab-slider {
      width: 85%;
      height: auto;
      margin: 10px auto;
      .search-tab {
        width: 100%;
        margin: 0 auto;
        color: #f0f0f0;
        .search-tab-title {
          display: block;
          height: 35px;
          background-color: #F2AF01;
          text-align: center;
          line-height: 35px;
          font-size: 20px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        .search-labels-box {
          width: 100% -2px;
          height: auto;
          margin: 0 auto;
          padding: 10px 0;
          border: solid 1px #F2AF01;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
          align-items: center;
          .search-label {
            margin: 10px;
            padding: 5px;
            background-color: #F2AF01;
            border-radius: 5px;
            .tag-name {
              display: inline-block;
              font-size: 16px;
            }
          }
        }
      }
    }
    .search-btn {
      display: block;
      width: 200px;
      height: 35px;
      background-color: #F2AF01;
      margin: 30px auto;
      border-radius: 10px;
      text-align: center;
      line-height: 35px;
      color: #f0f0f0;
      font-size: 14px;
      font-weight: bold;
      &:hover {
        background-color: rgba(242, 175, 1, 0.3);
      }
    }
  }
}