@charset 'UTF-8';
@use './module/responsive' as responsive;

.search-box {
  width: 100%;
  height: auto;
  h2 {
    margin: 30px 0 20px;
    text-align: center;
    font-size: 20px;
  }
  .search-form {
    .sort-option-checkbox-container {
      width: 95%;
      height: auto;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
      .sort-checkbox-box {
        margin-right: 10px;
        .pjt-sort-label {
          margin-right: 5px;
        }
      }
      .order-checkbox-box {
        margin-right: 10px;
        .pjt-order-label {
          margin-right: 5px;
        }
      }
    }
    .search-tab {
      width: 95%;
      height: auto;
      margin: 10px auto;
      color: #fff;
      .search-tab-title {
        display: block;
        height: 30px;
        background-color: #F2AF01;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .search-labels-box {
        width: 100% -2px;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        border: solid 1px #F2AF01;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        .search-label {
          margin: 10px;
          padding: 5px;
          background-color: #F2AF01;
          border-radius: 5px;
          .tag-name {
            display: inline-block;
            margin-left: 5px;
            font-size: 14px;
          }
        }
      }
    }
    .search-btn {
      display: block;
      width: 200px;
      height: 35px;
      background-color: #F2AF01;
      margin: 30px auto;
      border-radius: 10px;
      text-align: center;
      line-height: 35px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        background-color: rgba(242, 175, 1, 0.3);
      }
    }
  }
}